doctype html
html
    head
        title #{title}
        meta(name='user page', content='width=device-width, initial-scale=1.0')
    body
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script.
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(initPage);

            var dataset = !{JSON.stringify(data)};

            var maxTemp, minTemp, tempSum, count, maxHumi, minHumi, humiSum;

            function initPage() {
                document.getElementById('goBackButton').onclick= function() {
                    const url = window.location.href.split('/data');
                    const url2 = url[1].split('user=')[1];
                    window.location.href = `${url[0]}/user?id=${url2}`;
                };
                drawChart();
            }

            /**
             * This function draws the graph by using the google line chart api.
             */
            function drawChart() {
                let array = makeValidDataForm();

                let temperatureData = google.visualization.arrayToDataTable(array[0]);
                let humidityData = google.visualization.arrayToDataTable(array[1]);

                //required options for the temperature graph
                let temperatureOptions = {
                    title: 'temperature graph',
                    curveType: 'function',
                    legend: {position: 'bottom'},
                    hAxis : { textPosition: 'none' },
                    colors: ['red']
                };

                let humidityOptions = {
                    title: 'humidity graph',
                    curveType: 'function',
                    legend: {position: 'bottom'},
                    hAxis: { textPosition: 'none' },
                    colors: ['blue']
                }

                let temperatureContainer = document.getElementById('temperatureContent');
                let humidityContainer = document.getElementById('humidityContent');

                var tempChart = new google.visualization.LineChart(temperatureContainer);
                var humiChart = new google.visualization.LineChart(humidityContainer);

                tempChart.draw(temperatureData, temperatureOptions);
                humiChart.draw(humidityData, humidityOptions);

                document.getElementById('tempMax').innerText = 'Max: ' + maxTemp.toString() + '℃';
                document.getElementById('tempMin').innerText = 'Min: ' + minTemp.toString() + '℃';
                document.getElementById('tempAvg').innerText = 'Average: ' + (tempSum / count).toFixed(2).toString() + '℃';

                document.getElementById('humidityMax').innerText = 'Max: ' + maxHumi.toString() + '%';
                document.getElementById('humidityMin').innerText = 'Min: ' + minHumi.toString() + '%';
                document.getElementById('humidityAvg').innerText = 'Average: ' + (humiSum / count).toFixed(2).toString() + '%';
            }


            /**
             * This function selects the valid data from the given data set.
             */
            function makeValidDataForm() {
                let tempArray = [['date time', 'temperature']];
                let humiArray = [['date time', 'humidity']];
                let i, temp, humidity, date;

                maxTemp = minTemp = dataset[0].temperature;
                maxHumi = minHumi = dataset[0].humidity;

                tempSum = 0;
                humiSum = 0;

                const last = dataset.length - 1;

                count = 0;

                //iterates the given data set, and appends the valid data to the graph data list.
                for (i = last; i >= 0; i--) {
                    date = new Date(Date.parse(dataset[i].timestamp));

                    temp = [];
                    humidity = [];

                    let currDate = date.toString();

                    temp.push(currDate);
                    temp.push(dataset[i].temperature);

                    humidity.push(currDate);
                    humidity.push(dataset[i].humidity);

                    if (maxTemp < dataset[i].temperature) { //check if the current temperature is the highest one
                        maxTemp = dataset[i].temperature;
                    }

                    if (minTemp > dataset[i].temperature) { //check if the current temperature is the lowest one
                        minTemp = dataset[i].temperature;
                    }

                    if (maxHumi < dataset[i].humidity) {
                        maxHumi = dataset[i].humidity;
                    }

                    if (minHumi > dataset[i].humidity) {
                        minHumi = dataset[i].humidity;
                    }

                    tempSum += dataset[i].temperature;
                    humiSum += dataset[i].humidity;

                    tempArray.push(temp);
                    humiArray.push(humidity);

                    count += 1;
                }

                let array = [];
                array.push(tempArray);
                array.push(humiArray);

                return array; //return the list that contains the data to draw the graph.
            }

            /**
             * The event listener function to check if the user selects the date with the date picker.
             */
            function selectUserInputRadioButton() {
                document.getElementById('calendarInput').checked = true;
            }
        header
        div(style='background-color: #6666ff')
            h1 User: #{user}
            h2 Device: #{deviceNum}
        div(class='temperature')
            div(class='content')
                div(id='temperatureContent', style='height: 100%; width: 100%')
            div(class='max_min', style='margin-top: 10px')
                div(class='temperature')
                    div(class='tempTitle', style='margin-left: 20px') Temperature
                    div(class='tempData')
                        div(id='tempMax')
                        div(id='tempMin')
                        div(id='tempAvg')
        div(class='humidity')
            div(class='content')
                div(id='humidityContent', style='height: 100%; width: 100%')
            div(class='max_min', style='margin-top: 10px')
                div(class='humidity')
                    div(class='humidityTitle')
                    div(class='humidityData' style='margin-left: 20px') Humidity
                        div(id='humidityMax')
                        div(id='humidityMin')
                        div(id='humidityAvg')
        div(id='return')
            button(type='button', id='goBackButton') Go Back