doctype html
html
    head
        title DataHub4U :: Register
        script(type='text/javascript', src='../public/javascripts/registerPage.js')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/registerStyle.css')
    body
        header(id='navigate_bar', class='navigate_bar')
            .navbarContainer
                nav(class='navbar navbar-light')
                    .navbar-collapse(id='header_navigator')
                        center
                            a(class='nav-link', href='/', title='go to homepage', id='homeButton')
                                img(src='../public/images/main_logo.png', id='home_link_image')
        .login.well
            h1  Welcome
            hr
            form(id='register-form', onsubmit='return confirmUserInfo();', method='POST', action='/register')
                .form-group
                    label(for='userName') Name
                    input(type='text', name='userName', class='form-control form-control-lg',
                    id='userName', placeholder='Enter your name',
                    required, data-required-msg='User name is required')
                .form-group
                    label(for='id') ID
                    input(type='text', name='id', class='form-control form-control-lg',
                    id='id', placeholder='Enter ID',
                    required, data-required-msg='ID is required')
                .form-group
                    label(for='password') Password
                    input(type='password', name='password', class='form-control form-control-lg',
                    id='password', placeholder='Enter password'
                    required, data-required-msg='Password is required')
                .form-group
                    label(for='confirm-password') Confirm Password
                    input(type='password', name='confirm-password', class='form-control form-control-lg',
                    id='confirm-password', placeholder='Confirm password'
                    required, data-required-msg="Please confirm your password")
                .form-group
                    label(for='email') Email
                    input(type='email', name='email', class='form-control form-control-lg',
                    id='email', placeholder='Enter email',
                    required data-required-msg='Email address is required')
                .form-group
                    label(for='confirm-email') Confirm Email
                    input(type='email', name='confirm-email', class='form-control form-control-lg',
                    id='confirm-email', placeholder='Confirm email',
                    required data-required-msg='Please confirm your email address')
                .form-group
                    button.btn.btn-default(id='registerButton', type='submit') Register
                    a(href="login", style='margin-left: 10px') Or Login
                .hiddenDiv(id='hidden_div')
        script.
            function alertDuplicatedID() {
                const alerted = !{JSON.stringify(alert)};

                console.log(alerted);

                if (alerted) {
                    window.alert(`The ID ${alerted.id} is already in used. Please choose the other id.`);
                }
            }

            window.onload = alertDuplicatedID;